 
@media only screen and (max-width: 948px) {
  .build-your-own > section { flex: 1 50%; }
}
@media only screen and (max-width: 565px) {
  :host {
    font-size: .6em;
  }
  input[type=checkbox], input[type=radio] {
    width: 20px;
    height: 20px;
    margin: 14px auto;
  }
}
@media only screen and (max-width: 425px) {
  .build-your-own > section {
    flex: 1 100%;
  }
  .weird-requests input[type=text] {
    width: calc(100% - 8em);
  }
  .weird-requests button {
    font-size: 1.6em;
  }
  button {
    padding: 2px;
  }
  button:before {
    border: 0;
    font-size: 2em;
  }
}


.errors {
  color: rgba(237, 119, 119, 1);
  font-size: 1.6em;
}
input[type=text].ng-invalid,
select.ng-invalid,
textarea.ng-invalid {
  border-width: 3px;
  border-bottom-color: rgba(237, 119, 119, 1);
}
textarea.ng-invalid {
  border-color: rgba(237, 119, 119, 1);
}
.ng-invalid+label {
  color: rgba(237, 119, 119, 1);
}
button:disabled {
  background-color: rgba(246, 244, 241, 1);
  border-color: rgba(246, 244, 241, 1);
  cursor: default;
  color: rgba(65, 65, 67, .8);
}
button:disabled:before {
  border-color: rgba(65, 65, 67, .8);
}